@model List<ShopWebApp.Models.DTO.OrderDetailsDTO>
@using ShopWebApp.Constants

<link type="text/css" rel="stylesheet" href="~/css/cart.css" />
<link href="~/css/constant.css" rel="stylesheet" type="text/css" media="all" />
<script src="~/js/jquery.min.js"></script>

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@{
    decimal totalPrice = 0;
}
<section class="container cart-container">
    <div class="cart__buttons">
        <div>
            <a class="cart__shopping-button" href="/">Continue shopping</a>
        </div>
    </div>
    <div class="wrapper-content">
        <div class="top-level-header">
            <h3 class="title-order">Your shopping cart</h3>
        </div>
        @if (Model.Count > 0)
        {
            <ul class="item-list">
                @foreach (var item in Model)
                {
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="@Constant.URL_IMAGE/@item.ProductImage" alt="@item.ProductName" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">@item.ProductName</div>
                                <div class="item-information">@item.ProductInformation</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order form-group">
                                <input type="number" id="@item.ProductId" min="1" class="cart_quantity" value="@item.Quantity" disabled/>
                            </div>
                            <div class="price" id="price">@item.UnitPrice.ToString("#,##0.00")$</div>
                        </div>
                    </li>
                    totalPrice += item.TotalPrice;
                }
            </ul>
        }
        else
        {
            <p>Your cart is empty</p>
        }
        <input type="number" style="display:none;" class="total-price" value="@totalPrice" />
    </div>
    <div class="total pay-item">
        Total price: <span class="amount">@totalPrice.ToString("#,##0.00")$</span>
    </div>


    <div id="group-button-payment">
        <div id="paypal-button-container"></div>
    </div>
</section>

<script src="~/js/payment.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AZyfjEW5oOePcqf4VBrIzZ_rE95Jhx7Xffbw6-pSx-sUjUmPXuQuRnigTyM8za-wrcACzvGHQilIMiS1&currency=USD" data-sdk-integration-source="button-factory"></script>