@model IEnumerable<ShopWebApp.Models.DataModels.Product>
@using ShopWebApp.Constants
@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<link href="~/css/product.css" rel="stylesheet" type="text/css" media="all" />

<div class="col-md-9 product1">
    @if (Model != null)
    {
        foreach (var product in Model)
        {
            <div class="col-md-6 home-grid" style="position:relative">
                <div class="home-product-main">
                    <div class="home-product-top">
                        <a style="text-decoration:none" asp-action="GetDetail" asp-route-productId="@product.Id"><img src="@Constant.URL_IMAGE/@product.Image" style="width:60%" ;></a>
                    </div>
                    <div class="home-product-bottom">
                        <h6><a style="text-decoration:none" asp-action="GetDetail" asp-route-productId="@product.Id">@product.Name</a></h6>
                        <h5 class="prodcut__price-label" style="display:inline-block">Price:</h5> <h4 class="product__price-number" style="display:inline-block; color: #ED0000"> @product.UnitPrice.ToString("#,##0.00") USD</h4>
                    </div>
                </div>
                <br />
            </div>
        }

        <div class="clearfix"> </div>

        <nav class="pagination">
            Current page : @(ViewBag.PageNumber + 1) / @(ViewBag.TotalPage)
            <div>
                <a class="btn btn-default @(ViewBag.PageNumber == 0 ? "disabled" : "")" asp-controller="Product" asp-action="GetDetail" asp-route-pageNo="0" asp-route-categoryId="@ViewBag.categoryCurrentId" asp-route-supplierId="@ViewBag.supplierCurrenId">First page</a>
                <a class="btn btn-default @(ViewBag.PageNumber == 0 ? "disabled" : "")" asp-controller="Product" asp-action="GetDetail" asp-route-pageNo="@(ViewBag.PageNumber - 1)" asp-route-categoryId="@ViewBag.categoryCurrentId" asp-route-supplierId="@ViewBag.supplierCurrenId">Previous</a>
                <a class="btn btn-default @((ViewBag.PageNumber == ViewBag.TotalPage -1) ? "disabled" : "")" asp-controller="Product" asp-action="GetDetail" asp-route-pageNo="@(ViewBag.PageNumber + 1)" asp-route-categoryId="@ViewBag.categoryCurrentId" asp-route-supplierId="@ViewBag.supplierCurrenId">Next</a>
                <a class="btn btn-default @((ViewBag.PageNumber == ViewBag.TotalPage -1) ? "disabled" : "")" asp-controller="Product" asp-action="GetDetail" asp-route-pageNo="@(ViewBag.TotalPage -1)" asp-route-categoryId="@ViewBag.categoryCurrentId" asp-route-supplierId="@ViewBag.supplierCurrenId">Last page</a>
            </div>
        </nav>
    }
    else
    {
        <h3 class="empty-list-product">No product found</h3>
    }
</div>

