@model ShopWebApp.Models.DataModels.Product
@using ShopWebApp.Constants

@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<link href="~/css/detail.css" rel="stylesheet" type="text/css" media="all" />

<div class="col-md-9 product-price1">
    <div class="col-md-4 single-top">
        <img class="image-product" src="@Constant.urlImage/@Model.Image" alt="@Model.Name" />
    </div>
    <div class="col-md-5 single-top-in simpleCart_shelfItem">
        <div class="single-para">
            <h4>@Model.Name</h4>
            <h5 class="item-price">@Model.UnitPrice.ToString("#.#0") USD</h5>
            <ul class="product-detail">
                <li class="product-detail__item">
                    <span>@Html.DisplayNameFor(model => model.SupplierName)</span>
                        <span class="women1">@Model.SupplierName</span>
                </li>
            </ul>
            <a asp-controller="GioHang" asp-action="AddToCart" asp-route-Id="@Model.Id" class="add-cart item_add">Buy</a>
        </div>
    </div>
    <div class="col-md-3">
        <h4 style="display:block;font-weight:bold">@Model.Information</h4>
    </div>

    <div class="clearfix"> </div>

    <div class="single-top-in">
        <h4 style="display:block;font-weight:bold">Description</h4>
            @Model.Description
    </div>
    <div class=" bottom-product" style="margin-top:50px;">
        <label style="display:block;">Products related to this item</label>
        @if (ViewBag.productsRelated != null)
        {
            foreach (var item in ViewBag.productsRelated)
            {
                <div class="col-md-3 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a asp-action="GetDetail" asp-route-productId="@item.Id">
                            <img height="100" src="@Constant.urlImage/@item.Image" alt="@item.Name">
                        </a>
                    </div>
                    <p class="tun">@item.Name</p>
                    <a href="#" class="item_add"><p class="number item_price">@item.UnitPrice.ToString("#.#0") USD</p></a>
                </div>
            }
        }else{
           <p style="margin-left:20px;">No product found</p>
        }
    </div>

    <div class="clearfix" />

</div>


