@model IEnumerable<ShopWebApp.Models.DataModels.Product>
@using ShopWebApp.Constants
@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<link href="~/css/product.css" rel="stylesheet" type="text/css" media="all" />

<div class="product col-md-9">
    @if (Model != null)
    {
        foreach (var product in Model)
        {
            <div class="col-md-6 product__items">
                <div class="product__item">
                        <a style="text-decoration:none" asp-action="GetDetail" asp-route-productId="@product.Id"><img src="@Constant.URL_IMAGE/@product.Image" style="width:60%" ;></a>
                        <h6><a style="text-decoration:none" asp-action="GetDetail" asp-route-productId="@product.Id">@product.Name</a></h6>
                        <h5 class="product__price-label">Price:</h5> <h4 class="product__price-number"> @product.UnitPrice.ToString("#,##0.00")$</h4>
                </div>
                <br />
            </div>
        }
        <div class="clearfix"> </div>
        <nav class="pagination">
            Current page : @(ViewBag.PageNumber + 1) / @(ViewBag.TotalPage)
            <div>
                <a class="btn btn-default @(ViewBag.PageNumber == 0 ? "disabled" : "")" asp-controller="Product" asp-action="Index" asp-route-pageNo="0">First page</a>
                <a class="btn btn-default @(ViewBag.PageNumber == 0 ? "disabled" : "")" asp-controller="Product" asp-action="Index" asp-route-pageNo="@(ViewBag.PageNumber - 1)">Previous</a>
                <a class="btn btn-default @((ViewBag.PageNumber == ViewBag.TotalPage -1) ? "disabled" : "")" asp-controller="Product" asp-action="Index" asp-route-pageNo="@(ViewBag.PageNumber + 1)">Next</a>
                <a class="btn btn-default @((ViewBag.PageNumber == ViewBag.TotalPage -1) ? "disabled" : "")" asp-controller="Product" asp-action="Index" asp-route-pageNo="@(ViewBag.TotalPage -1)">Last page</a>
            </div>
        </nav>
    }
    else
    {
        <p class="product__empty-list-product">No product found</p>
    }
</div>