@model List<ShopWebApp.Models.ViewModels.CartItemViewModel>
@using ShopWebApp.Constants

<link type="text/css" rel="stylesheet" href="~/css/cart.css" />
<link href="~/css/constant.css" rel="stylesheet" type="text/css" media="all" />

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@{ 
    decimal totalPrice = 0;
}
<section class="container cart-container">
        <div class="wrapper-content">
            <div class="top-level-header">
                <div class="title-order">Order</div>
            </div>
            <div class="item-list">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="item">
                            <div class="left">
                                <div class="photo">
                                    <img src="@Constant.URL_IMAGE/@item.ProductImage" alt="@item.ProductName" />
                                </div>
                                <div class="item-content">
                                    <div class="item-name">@item.ProductName</div>
                                    <div class="item-information">@item.ProductInformation</div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="quantity-order">
                                    <div class="form-group">
                                        <button>-</button>
                                        <input type="number" value="@item.Quantity"/>
                                        <button>+</button>
                                    </div>
                                </div>
                                <div class="price">@item.UnitPrice</div>
                            </div>
                        </li>
                        totalPrice += item.TotalPrice;
                    }
                </ul>
            </div>
            <div class="pay-information">
                <div class="total pay-item">
                    <div class="amount">Total price: @totalPrice</div>
                </div>
            </div>
            <div id="group-button-payment">
                <div id="paypal-button-container"></div>
                <div id="cod-button-container">CASH ON DELIVERY</div>
            </div>
        </div>
</section>

<script src="~/js/cart.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
