@using ShopWebApp.Contants

<!DOCTYPE html>
<html>
<head>
    <title>PTIT-HCM Store</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="PTIT-HCM Store" />
    <!--//fonts-->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" type="image/x-icon" href="@(Contant.urlLogo+"/favicon.jpg")" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    @RenderSection("Styles", required: false)
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @*<script>
            $(function () {
                $("#txtSearch").keyup(function () {
                    $.ajax({
                        url: "/Product/Search",
                        type: "post",
                        data: { "Keyword": $(this).val() },
                        success: function (data) {
                            $("#results").html(data);
                        },
                        errror: function (data) {
                            alert("Error: " + data);
                        }
                    });
                });
            });
        </script>*@
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="search">
                    <form>
                        <input type="text" id="txtSearch" class="topinput" style="position: relative;"
                               placeholder="Search">
                        <input type="submit" value="Go">
                        <ul class="wrap-suggestion" id="results"></ul>
                    </form>
                </div>
                <div class="group-btn-account">
                    <div class="buttons @(ViewBag.User == null ? "" : "closed")">
                        <span id="btn-login">
                            Sign in
                        </span>
                        <span id="btn-register">
                            Sign up
                        </span>
                    </div>
                    <div class="account @(ViewBag.User == null ? "closed" : "")">
                        <span class="cart">
                            <i class="fal fa-shopping-cart"></i>
                        </span>
                        <div class="user">
                            <p class="user__text-fixed">Hello</p>
                            <div class="user__info" style="display:inline-block;">
                                <i class="far fa-user-circle"></i>
                                <p class="user-name">@(ViewBag.User == null ? "" : ViewBag.User.UserName)</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @{
            List<Supplier> suppliers = new List<Supplier>();
            if (ViewBag.Suppliers != null)
            {
                foreach (var item in ViewBag.Suppliers)
                {
                    suppliers.Add(item);
                }
            }

            List<Category> categories = new List<Category>();
            if (ViewBag.Category != null)
            {
                foreach (var item in ViewBag.Category)
                {
                    categories.Add(item);
                }
            }
        }

        @await Html.PartialAsync("_NavigationMenu.cshtml", categories)

    </div>
    <!--content-->
    <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">
                @await Html.PartialAsync("_SupplierPartialView", suppliers)
                <!--initiate accordion-->
                <!---->
                <div class="product-middle">
                    <div class="fit-top">
                        <h6 class="shop-top">Laptop Apple</h6>
                        <a href="#" class="shop-now">SHOP NOW</a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                @await Html.PartialAsync("_TagsPartialView", suppliers)
            </div>
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-6 amet-sed">
                    <h4>GET TO KNOW US</h4>
                    <ul class="nav-bottom">
                        <li><p>Address</p></li>
                        <li><p>Seller</p></li>
                        <li><p>Email</p></li>
                        <li><p>Fax</p></li>
                    </ul>
                </div>
                <div class="col-md-6 amet-sed ">
                    <h4>CONTACT US</h4>
                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="footer-class">
            <p>© 2020 PTIT-HCM All Rights Reserved</p>
        </div>
    </div>
    <!-- The Sign In Modal -->
    <div id="login-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content container login-content">
            <div class="modal-body modal-login" id="modal-login">
                @await Html.PartialAsync("_LoginView", new UserSignIn())
            </div>
        </div>
    </div>
    <!-- The Sign Up Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content container register-content">
            <div class="modal-body modal-register" id="modal-register">
                @await Html.PartialAsync("_RegisterView", new User())
            </div>
        </div>
    </div>
    @*<div class="backdrop" style="position:absolute;top:0;left:0;background:red;"></div>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
@*<div class="col-md-4 amet-sed">
        <h4>THÔNG TIN KHUYẾN MÃI</h4>
        <p>
            Đăng ký nhận thông tin khuyển mãi
        </p>
        <form>
            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
            <input type="submit" value="Sign up">
        </form>
    </div>*@