@using ShopWebApp.Constants

<!DOCTYPE html>
<html>
<head>
    <title>PTIT-HCM Store</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="PTIT-HCM Store" />
    <!--//fonts-->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" type="image/x-icon" href="@(Constant.urlFavicon)"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    @RenderSection("Styles", required: false)
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @*<script>
            $(function () {
                $("#txtSearch").keyup(function () {
                    $.ajax({
                        url: "/Product/Search",
                        type: "post",
                        data: { "Keyword": $(this).val() },
                        success: function (data) {
                            $("#results").html(data);
                        },
                        errror: function (data) {
                            alert("Error: " + data);
                        }
                    });
                });
            });
        </script>*@
</head>
<body style="position:relative;">
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="search">
                    <form>
                        <input type="text" id="txtSearch" class="topinput" style="position: relative;"
                               placeholder="Search">
                        <input type="submit" value="Go">
                        <ul class="wrap-suggestion" id="results"></ul>
                    </form>
                </div>
                <div class="group-btn-account">
                    <div class="buttons @(ViewBag.User == null ? "" : "closed")">
                        <span id="btn-login">
                            Sign in
                        </span>
                        <span id="btn-register">
                            Sign up
                        </span>
                    </div>
                    <div class="account @(ViewBag.User == null ? "closed" : "")">
                        <span class="cart">
                            <i class="fal fa-shopping-cart"></i>
                        </span>
                        <div class="user">
                            <p class="user__text-fixed">Hello</p>
                            <div class="user__info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">
                                <i class="far fa-user-circle"></i>
                                <p class="user-name">@(ViewBag.User == null ? "" : ViewBag.User.UserName)</p>
                            </div>
                            <div class="user__menu" aria-labelledby="dropdownMenuLink" style="position:absolute; ">
                                <ul class="user__items">
                                    <li>
                                        <a class="user__item" href="#">Change password</a>
                                    </li>
                                    <li>
                                        <a class="user__item" href="#">Update profile</a>
                                    </li>
                                    <li>
                                        <a class="user__item" href="#">View your history</a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="user__item" href="#">Sign out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @{
            List<Supplier> suppliers = new List<Supplier>();
            if (ViewBag.Suppliers != null)
            {
                foreach (var item in ViewBag.Suppliers)
                {
                    suppliers.Add(item);
                }
            }

            List<Category> categories = new List<Category>();
            if (ViewBag.Category != null)
            {
                foreach (var item in ViewBag.Category)
                {
                    categories.Add(item);
                }
            }
        }

        @await Html.PartialAsync("_NavigationMenu", categories)

    </div>
    <!--content-->
    <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">
                @await Html.PartialAsync("_SupplierPartialView", suppliers)
                @await Html.PartialAsync("_TagsPartialView", suppliers)
            </div>
            @RenderBody()
        </div>
    </div>
    <!--content-->
    <div class="footer">
        @await Html.PartialAsync("_FooterPartialView")
    </div>
    <!-- The Sign In Modal -->
    <div id="login-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content container login-content">
            <div class="modal-body modal-login" id="modal-login">
                @await Html.PartialAsync("_LoginView", new UserSignIn())
            </div>
        </div>
    </div>
    <!-- The Sign Up Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content container register-content">
            <div class="modal-body modal-register" id="modal-register">
                @await Html.PartialAsync("_RegisterView", new User())
            </div>
        </div>
    </div>
    <div class="backdrop"/>
    @RenderSection("Scripts", required: false)

</body>
</html>